<h1>{{name}}</h1>

<ul>
  <li>Age: {{age}}</li>
  <li>Location: {{location}} </li>
</ul>

<button (click)="onClick()">Click Me</button>

<h1>Edit User</h1>
<form>
  <div>
    <label for="name">Name: </label>
    <input type="text" [(ngModel)]="name" name="name">
  </div>
  <div>
    <label for="age">Age: </label>
    <input type="number" [(ngModel)]="age" name="age">
  </div>
  <div>
    <label for="location">Location: </label>
    <input type="text" [(ngModel)]="location" name="location">
  </div>
</form>

<h1>hobbies</h1>
<form #myForm="ngForm" (submit)="addHobby(hobby.value); myForm.reset()">
  <div>
    <label for="hobby">Hobby:</label>
    <input type="text" #hobby>
  </div>
</form>
<ul>
  <li *ngFor="let hobby of hobbies; let i = index">
    {{i + 1}}: {{hobby}} <button (click)="deleteHobby(hobby)">X</button>
  </li>
</ul>


